
:root {
	/* use preset colors by: var(--attribute) */
	--primary: #9ce8ff;
	--secondary: #92bbaf;
	--tertiary: #2c6161;
	--light-dark: #51147a;
	--dark: #200830;
}

/* General reset */
* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	border-radius: 10%;
}

/* Typography */
body {
	background-color: var(--primary);
	font-family: 'Courier New', Courier, monospace;
	font-size: 15px;
	color: var(--dark);
	line-height: 1.5;
	display: block;
	margin-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	color: var(--dark);
	margin: 10;
}

p {
	margin-bottom: /* Your preferred margin-bottom */ ;
}
